extends ../../layouts/default.jade

mixin labeledStaticControl(label, value)
  label= label
  div: p.form-static-control= value

block main
  h2= title

block content
  div.row
    div.col-xs-6
      form(role="form")
        input(type="hidden", name="_csrf", value=csrf_token)
        .form-group
          label 1. Incident Name
          div: p.form-static-control
            a(href=`/incidents/${incident._id}`)= incident.name
        hr
        .form-group
          label 2. Operational Period
          br
          +labeledStaticControl('Date From', form.operationalPeriod.start)
          +labeledStaticControl('Date To', form.operationalPeriod.end)
        hr
        .form-group
          label 3.
          br
          +labeledStaticControl('Branch', form.field3.branch)
          +labeledStaticControl('Division', form.field3.division)
          +labeledStaticControl('Group', form.field3.group)
          +labeledStaticControl('Staging Area', form.field3.stagingAread)
        hr
        .form-group
          label 4. Operations Personnel
          br
          +labeledStaticControl('Operations Section Chief (Name)', form.operationsPersonnel.operationsSectionChiefName)
          +labeledStaticControl('Operations Section Chief (Contact Number)', form.operationsPersonnel.operationsSectionChiefContactNumber)
          +labeledStaticControl('Branch Director (Name)', form.operationsPersonnel.branchDirectorName)
          +labeledStaticControl('Branch Director (Contact Number)', form.operationsPersonnel.branchDirectorContactNumber)
          +labeledStaticControl('Division/Group Supervisor (Name)', form.operationsPersonnel.divisionGroupSupervisorName)
          +labeledStaticControl('Division/Group Supervisor (Contact Number)', form.operationsPersonnel.divisionGroupSupervisorContactNumber)
        hr
        .form-group
          label 5. Resources Assigned
          br
          +labeledStaticControl('Resource Identifier', form.resourcesAssigned.resourceIdentifier)
          +labeledStaticControl('Leader', form.resourcesAssigned.leader)
          +labeledStaticControl('# of Persons', form.resourcesAssigned.numOfPersons)
          +labeledStaticControl('Contact (e.g., phone, pager, radio frequency, etc.)', form.resourcesAssigned.contact)
        hr
        .form-group
          +labeledStaticControl('6. Work Assignments', form.workAssignments)
        hr
        .form-group
          +labeledStaticControl('7. Special Instructions', form.specialInstructions)
        hr
        .form-group
          label 8. Communications
          +labeledStaticControl('Name', form.communications.name)
          +labeledStaticControl('Function', form.communications.function)
          +labeledStaticControl('Primary Contact: indicate cell, pager, or radio (frequency/system/channel)', form.communications.primaryContact)
        hr
        .form-group
          label Prepared by
          br
          +labeledStaticControl('Name', form.preparedBy.name)
          +labeledStaticControl('Postion/Title', form.preparedBy.positionTitle)
          +labeledStaticControl('Signature', form.preparedBy.signature)
          +labeledStaticControl('Date/Time', form.preparedBy.dateTime)