<nav id="nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{{ pkg.name }}</a>
    </div>
    <div id="navigationbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if (req.isAuthenticated()) %}
          <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
            <a href="{{ '/users/' + req.user.id }}" title="View Your Profile">Profile</a>
          </li>
          <li>
            <a href="/logout" title="Logout of Your Account">Logout</a>
          </li>
        {% else %}
          <li class="{% if (isActive('/login')) %}active{% endif %}">
            <a href="/login" title="Login">Login</a>
          </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
