html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
  color: #333333;
  background: #fff;
  /*padding: 50px;*/
}

#nav {
  margin-bottom: 0;
}

.panel-heading a.btn ~ h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

dl.panel-body,
.panel-body > dl {
  margin-bottom: 0;
}

#form-ics-206 td {
  vertical-align: middle;
}

#form-ics-206 #hospitals .radio {
  margin-bottom: 5px;
  margin-top: 5px;
}