{% extends "../../layouts/default.html" %}

{% block main %}
  <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
  <form class="form" id="form-ics-206" method="post" action="/incidents/{{incident.id}}/form/ics206/{{form.id}}" role="form">
    <input type="hidden" name="_csrf" value="{{csrf_token}}">
    <input type="hidden" name="_method" value="PUT">
    
    {% include "_form.html" %}

    <div class="container">
      <div class="row text-right">
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}