<div class="form-group">
  <label for="period[commander]" class="control-label">Commander</label>
  <input type="text" name="period[commander]" class="form-control">
</div>

<div class="form-group">
  <label for="period[start][date]" class="control-label">Start Date</label>
  <input type="text" name="period[start][date]" class="form-control">
</div>
<div class="form-group">
  <label for="period[start][time]" class="control-label">Start Time</label>
  <input type="text" name="period[start][time]" class="form-control">
</div>
<div class="form-group">
  <label for="period[end][date]" class="control-label">End Date</label>
  <input type="text" name="period[end][date]" class="form-control">
</div>
<div class="form-group">
  <label for="period[end][time]" class="control-label">End Time</label>
  <input type="text" name="period[end][time]" class="form-control">
</div>
